

.header {
  width:100vw;
  min-height: 50vh;
  background-color:black;
  background-image: url('../../images/mtrainierhighquality.jpg');
  /* Set a specific height */
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.headertext {
  width: 100%;
  min-height: 5vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(46, 46, 46, 0) !important;
}

.headertext h1 {
  font-size: 2rem;
  color:rgba(255, 255, 255, 0.815);
}

@media screen and (max-width: 992px) {
  img {
    width: 100vw;
  }
}