.MuiAppBar-colorPrimary {
  color: rgb(255, 255, 255);
  background-color: rgb(46, 46, 46, 0.7) !important;
}

.navbar {
  width: 100%;
  margin-bottom: 10vh;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
}

.navbar img {
  scale: .5;
  margin: 0 auto;
}

.popoverCont {
  display: none;
}

.appbarLinks {
  width:60%;
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color:hsl(0, 0%, 94%)
}

a:visited {
  color:rgb(184, 184, 184)
}

@media screen and (max-width: 992px) {

  .popoverCont {
    display: flex;
  }

  .appbarLinks {
    display: none;
  }
}