.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5vh;
  background-color: hsla(208, 100%, 97%, 0.705);
  min-height: 5vh;
  width: 95%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}

.footer h4 {
  color:rgba(48, 48, 48, 0.822);
}

.footer a {
  color:rgba(121, 121, 121, 0.822)
}